* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #0d1117;
    color: #e6edf3;
    overflow: hidden;
    overflow-y: scroll;
}