#contact{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem;
}

#social{
    padding: 2rem;
}

.socialTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 0.8rem;
}

.socialDesc{
    padding: 0.5rem;
    margin-bottom: 3rem;
    font-size: medium;
    font-weight: 300;
}

.socialImgs{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.socialImg{
    object-fit: cover;
    width: 25%;
    min-width: 7rem;
    margin: 0 auto;
    padding: 0.50rem;
}

.socialImg:hover{
    transition: all 0.2s;
    transform: scale(1.1);
}

#contactTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 0.8rem;
}

.contactDesc{
    font-size: 1rem;
    font-weight: 300;
    max-width: 50rem;
    padding: 0 2rem;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);
}

.submitBtn{
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.submitBtn:hover{
    background-color: #facc15;
    transition: 0.3s;
    cursor: pointer;
}   

@media screen and (max-width: 580px) {
    .socialImg{
        min-width: 18vw;
    }
}

@media screen and (max-width: 420px) {
    .socialImg{
        min-width: 30vw;
    }
}