.navbar{
    background-color: #161b22;
    color: #e6edf3;
    height: 5rem;
    width:auto;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.logo{
    object-fit: cover;
    height: 4rem;
    width: auto;

}

.nav-links-item{
    margin: 0 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;

}

.nav-links-item:hover{
    color: #facc15;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #facc15;

}

.btn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    border-radius: 2rem;
    font-weight: bold;

}

.btn:hover{
    background-color: #facc15;
    transition: 0.3s;
}

.btnImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.active{
    color: #facc15;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #facc15;
}

.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;

}

.navMenu{
    position:absolute;
    top: 4rem;
    /* right: 4rem; */
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 20rem;
    background: rgb(20, 20, 20);
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
}

.Menu-item{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);
}

/* .Menu-item:hover{
    background: rgb(50,50,50);
    color: yellow;
} */

@media screen and (max-width: 700px) {
    .mobMenu{
        display: flex;
    }

    .nav-links{
        display: none;
    }

    .btn{
        display: none;
    }
}

