#project{
    min-height: calc(100vh - 4rem);
    overflow: hidden;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.projectTitle {
    font-size: 3.1rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 0.5rem;
}

.projectDesc{
    font-weight: 400;
    font-size: 2rem;
    max-width: 50rem;
    padding: 0.2rem;
}

.project-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: fit-content;
    max-width: 40rem;
    position: relative;
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 12px;
    border: 1px;
}

.project-item:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.item-details{
    padding: 2rem 0rem 0rem;
    width: 100%;
    /* height: 29%; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #14131a;
    border: 0.5px;
    z-index: 1;
}

.projectImg{
    object-fit: contain;
    width: 100%;
    height: 30rem;
    max-width: 100%;
    margin: auto;
    border: 1px;
    z-index: -1;
    border-radius: 12px;
}

.item-details>P1{
    text-align: center;
    margin: 0.5rem 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.8px;
}

.item-details>P2{
    text-align: center;
    color: rgba(175, 168, 168, 0.966);
    margin-left: 0.8rem;
    font-size: 1rem;
    letter-spacing: 0.4px;
    line-height: 0rem;
    font-size: 1rem;
    font-weight: 200;
    word-wrap: break-word;
    word-break: break-word;
}

@media screen and (max-width: 720px) {
    .item-details>P1{
        font-size: 3.3vw;
    }
    .item-details>P2{
        font-size: 2.2vw;
    }
    .projectImg{
        margin: auto;
    }
    
}

@media screen and (max-width: 500px) {
    .item-details>P1{
        font-size: 4vw;
    }
    .item-details>P2{
        font-size: 3vw;
    }
    .projectImg{
        margin: auto;
    }
}

@media screen and (max-width: 430px) {
    .projectTitle{
        font-size: 11vw;
    }
    .item-details>P1{
        font-size: 5vw;
    }
    .item-details>P2{
        font-size: 4vw;
    }
    .projectImg{
        margin: auto;
    }
}

@media screen and (max-width: 390px) {
    .projectTitle{
        width: 75vw;
    }
    .projectImg{
        width: 60vw;
        height: 25vh;
        margin: 1rem;

    }
    .item-details>P1{
        font-size: 5.5vw;
    }
    .item-details>P2{
        font-size: 3.5vw;
    }
}
